{%- comment -%} Prints an author list with current and former lab members in bold. {%- endcomment -%}
{%- capture labkeys -%}|{%- for person in site.people -%}{%- assign parts = person.name | split: " " -%}{{ parts | last }} {{ parts | first | slice: 0 }}|{%- for n in person.pub_names -%}{%- assign np = n | split: " " -%}{{ np | pop | join: " " }} {{ np | last | slice: 0 }}|{%- endfor -%}{%- endfor -%}{%- endcapture -%}
{%- assign authors = include.authors | split: ", " -%}
{%- for a in authors -%}
  {%- assign clean = a | remove: "#" | remove: "*" | strip -%}
  {%- assign words = clean | split: " " -%}
  {%- assign initials = words | last -%}
  {%- assign surname = words | pop | join: " " -%}
  {%- capture key -%}|{{ surname }} {{ initials | slice: 0 }}|{%- endcapture -%}
  {%- if labkeys contains key -%}<strong>{{ a }}</strong>{%- else -%}{{ a }}{%- endif -%}{%- unless forloop.last -%}, {% endunless -%}
{%- endfor -%}
